[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
trl = {extras = ["peft"], version = "*"}
bitsandbytes = "*"
loralib = "*"
transformers = {ref = "main", git = "git+https://github.com/huggingface/transformers.git"}

[dev-packages]

[requires]
python_version = "3.10"
